@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050505;
    color: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
